@import url('../../global/utils.css');

so-preview-theme {
  height: 100%;
  width: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 10rem;
}

.sidebar {
  height: 1.4rem;
}

.main {
  flex: 1;
}

.preview-card {
  height: 50%;
  width: 50%;
  border-radius: 0.3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
