/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import url("theme.css");

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

@font-face {
  font-family: 'plex';
  src: local('plex'),
        url('../assets/fonts/woff2/IBMPlexSansVar-Roman.woff2') format('woff2');
  font-weight: 1 999;
  font-display: swap;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: plex,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-variation-settings: 'wght' 430, 'wdth' 100;
  background-color: var(--app-bg-color);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

