app-root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  background: var(--primary-color);
  color: white;
  height: 5.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-variation-settings: 'wght' 600, 'wdth' 100;
  font-size: 2.4rem;
  color: white;
  padding: 0 1.2rem;
}

.menu-button {
  margin-left: 0.7rem;
  --highlight-box-shadow-color: hsla(0, 0%, 80%, 0.4);
  --highlight-border-color: hsl(0, 0%, 90%);
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

main {
  flex: 1;
  width: 100%;
  border-left: 0.1rem solid var(--menu-border-color);
}

.menu-icon {
  color: white;
}

app-menu {
  transition-property: margin-left, visibility;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  padding: 1rem;
}

.show-menu {
  margin-left: 0;
  height: auto;

}

.hide-menu {
  margin-left: -28rem;
  height: 0;
  visibility: hidden;
}
