header {
  background: var(--primary-color);
  color: white;
  height: 5.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
  padding: 0 1.2rem;
}

body {
  background: beige;
}

.card-layout {
  padding: 0.7rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 58rem;
  width: 100%;
}
