so-zoom {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  width: 100%;
}

.zoom-wrapper {
  display: flex;
  flex-direction: column;
  width: 45rem;
}

.zoom-group {
  width: 100%;
}

.zoom-height {
  height: 6rem;
}

.zoom-label {
  height: 100%;
  line-height: 3;
}
