.card-layout {
  padding: 1.5rem 0;
  min-width: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 56rem;
  min-width: 28rem;
  width: 100%;
  border: 0.3rem solid var(--item-bg-color);
  border-radius: 0.3rem;
  background-color: var(--item-bg-color);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
