.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-group {
  padding: 1rem 1.5rem 0 1.5rem;
  width: 100%;
  max-width: 60rem;
}

.input-wrapper {
  height: 5rem;
  margin-top: 0.5rem;
}

.label-wrapper {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 2rem;
}

.so-create-todo {
  -webkit-appearance: none;
  max-width: 60rem;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  padding-left: 1.2rem;
  border: 0.1rem solid transparent;
  border-radius: 0.2rem;
  border: none;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,0.16), 0 0 0 0.1rem rgba(0,0,0,0.08);
}

.so-create-todo:focus {
  transition: 0.1s;
  outline: none;
  -webkit-appearance: none;
  box-shadow: 0 0 0 0.3rem hsla(212, 97%, 43%, 0.3);
  border: 0.1rem solid hsl(212, 100%, 56%);
}

.so-create-todo::-webkit-input-placeholder {
  color: #505050;
}
.so-create-todo::-moz-placeholder {
  color: #505050;
}
.so-create-todo:-ms-input-placeholder {
  color: #505050;
}
.so-create-todo:-moz-placeholder {
  color: #505050;
}
