
so-fill-button {
  outline: none;
}

.fill-button {
  height: 100%;
  width: 100%;
  transition: 0.25s;
  color: white;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 1.8rem;
  -webkit-appearance: none;
  border-radius: 0.4rem;
  background: var(--primary-color);
}

.fill-button:focus, .fill-button:hover {
  -webkit-appearance: none;
  box-shadow: 0 0 0 0.3rem var(--highlight-box-shadow-color);
  border: 0.1rem solid var(--highlight-border-color);
  outline: none;
}
