.item {
  background: var(--menu-bg-color);
  border-bottom: 1px solid var(--menu-border-color);
  color: var(--text-color);
  display: flex;
  font-weight: var(--item-text-weight);
  min-height: 5.4rem;
}

.item:focus-within, .item:hover {
  background-color: var(--highlight-bg-color);
  --text-color: var(--highlight-font-color);
}

.link-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.link-wrapper a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

a {
  border: 0.1rem solid transparent;
  color: var(--text-color);
  font-family: inherit;
  font-size: 2rem;
  font-variation-settings: var(--font-variation);
  line-height: 3rem;
  outline: none;
  padding-left: 2rem;
  text-decoration: unset;
}

.logo-icon {
  color: var(--text-color);
  font-size: 2.5rem;
  margin-left: 9.5rem;
  position: absolute;
  pointer-events: none;
}

.menu-label {
  font-size: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
  font-variation-settings: var(--font-variation);
}
