.item {
  background: var(--menu-bg-color);
  border-bottom: 1px solid var(--menu-border-color);
  color: var(--text-color);
  display: flex;
  font-weight: var(--item-text-weight);
  min-height: 5.4rem;
}

.link-wrapper {
  border: 0.1rem solid transparent;
  margin-left: 1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

a {
  border: 0.1rem solid transparent;
  color: var(--text-color);
  font-family: inherit;
  font-size: 2rem;
  font-variation-settings: var(--font-variation);
  line-height: 3rem;
  margin-left: 1rem;
  outline: none;
  text-decoration: unset;
}

a:focus,
a:hover {
  -webkit-appearance: none;
  border-bottom: 0.2rem solid var(--primary-color);
  padding-bottom: 0.3rem;
}

.link-layout {
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

.contact-link {
  border-bottom: 0.2rem solid transparent;
  line-height: 2rem;
  margin-left: 2rem;
  padding-bottom: 0.3rem;
}

.contact-link:focus,
.contact-link:hover {
  -webkit-appearance: none;
  border-bottom: 0.2rem solid var(--primary-color);
}

.logo-icon {
  color: var(--text-color);
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

.menu-label {
  font-size: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
  font-variation-settings: var(--font-variation);
}
