.theme-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.radio-legend,
label {
  color: var(--text-color);
  font-size: 2rem;
  font-variation-settings: 'wght' 400, 'wdth' 90;
}

.n-radio {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; /* in case this ever gets supported */
  background: #fff;
  border-radius: 100%;
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px hsl(300, 5%, 25%), inset 0 0 0 0px hsl(300, 5%, 25%);
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.25em;
  margin-right: 10px;
  margin-top: 0px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  vertical-align: text-bottom;
  width: 1.2rem;
}

.n-radio:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px hsl(300, 5%, 25%), inset 0 0 0 0px hsl(300, 5%, 25%);
}

.n-radio:checked {
  border-color: hsl(0, 0%, 69%);
  box-shadow: 0 0 0 2px hsl(210, 18%, 30%), inset 0 0 0 6px hsl(210, 18%, 23%);
}

.n-radio:checked:focus {
  box-shadow: 0 0 0 3px hsl(300, 5%, 25%), inset 0 0 0 3px hsl(300, 5%, 25%);
}

.n-radio[disabled],
.n-radio[disabled] + span {
  opacity: 0.4;
}

/* TODO - Add ms-high-contrast styling
@media screen and (-ms-high-contrast: active) {
	.n-radio:checked {
		border: 6px solid;
		box-shadow: none;
	}
} */

.radio-wrapper {
  border: 1px solid var(--menu-border-color);
  cursor: pointer;
  display: flex;
  height: 10rem;
  margin-bottom: 1rem;
  width: 100%;
}

.radio-group {
  align-items: center;
  background: var(--card-bg-color);
  border-right: 1px solid var(--menu-border-color);
  display: flex;
  min-width: 10rem;
  padding-left: 2rem;
  width: calc(100% - 10rem);
}

form {
  max-width: 35rem;
  width: 100%;
}

fieldset {
  border-radius: 0.2rem;
  border: 2px solid var(--text-color);
  width: 100%;
}

.radio-label {
  height: 100%;
  line-height: 5;
}
